<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
    type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="reset-password-container">
    <h2>Đặt lại mật khẩu</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="password">Mật khẩu mới:</label>
            <input type="password" id="password" formControlName="password"
                class="form-control" />
            <small class="text-danger"
                *ngIf="resetPasswordForm.controls['password'].errors?.['required'] && submitted">
                Mật khẩu không được để trống
            </small>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu:</label>
            <input type="password" id="confirmPassword"
                formControlName="confirmPassword" class="form-control" />
            <small class="text-danger"
                *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required'] && submitted">
                Bạn phải xác nhận mật khẩu
            </small>
            <small class="text-danger"
                *ngIf="resetPasswordForm.controls['confirmPassword'].value !== resetPasswordForm.controls['password'].value && submitted">
                Mật khẩu không khớp
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    </form>
</div>
