<div class="container-fluid position-relative d-flex p-0"
    style="background-color: #f5f6f7;">
    <app-header-admin [isSidebarOpen]="isSidebarOpen"></app-header-admin>

    <!-- Content Start -->
    <div class="content" [class.open]="isSidebarOpen">
        <!-- Navbar Start -->
        <app-navbar-admin (toggleSidebar)="toggleSidebar()"></app-navbar-admin>
        <!-- Navbar End -->

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4"
                style="background-color: #fff !important;">
                <div
                    class="d-flex align-items-center justify-content-between mb-4">

                    <h6 class="mb-0">Danh sách khách đặt món <br />(Số lượng :
                        {{listDangKy.length}})</h6>
                    <!-- <a href="">Show All</a> -->
                </div>
                <div style="display: flex;">
                    <input type="search" class="form-control mb-3" id="search"
                        style="width: 50%;"
                        placeholder="Tìm kiếm bằng tên khách hàng..."
                        [(ngModel)]="userFullname"
                        (input)="getAllRegistrations()">
                    <div style="width: 1%;"></div>
                    <select name class="form-control mb-3" id
                        style="width: 15%;" [(ngModel)]="status"
                        (ngModelChange)="onStatusChange($event)">
                        <option value="0">Chưa xử lý</option>
                        <option value="1">Đã cọc</option>
                        <option value="2">Đã nhận bàn</option>
                        <option value="3">Đã hủy bỏ</option>
                    </select>

                    <div style="width: 1%;"></div>
                    <div style="width: 10%;">
                        Chỉ lọc theo tháng <input type="checkbox"
                            [(ngModel)]="filterByMonth"
                            (change)="onFilterByMonthChange($event)">
                    </div>
                    <div style="width: 1%;"></div>
                    <input style="width: 15%;" class="form-control mb-3"
                        type="date" style="width: 15%;"
                        [(ngModel)]="selectedDate"
                        (change)="onDateChange($event)"><div
                        style="width: 1%;"></div>
                    <button (click)="resetFilters()"
                        class="btn btn-warning mb-3">Reset</button>
                </div>
                <div class="button-group mb-3">

                    <button (click)="exportToExcel()"
                        class="btn btn-excel me-2">
                        <i class="fa fa-file-excel"></i> Xuất Excel
                    </button>
                    <button class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addOrderModal">
                        <i class="fa fa-plus"></i> Thêm đơn hàng
                    </button>

                </div>
                <div class="modal fade" id="addOrderModal" tabindex="-1"
                    aria-labelledby="addOrderModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="addOrderModalLabel">Thêm đơn hàng
                                    mới</h5>
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form #orderForm="ngForm"
                                    (ngSubmit)="createOrder()">
                                    <div class="mb-3">
                                        <label for="tableId"
                                            class="form-label">Bàn số (không bắt
                                            buộc)</label>
                                        <select class="form-select" id="tableId"
                                            [(ngModel)]="newOrder.tableId"
                                            name="tableId">
                                            <option [ngValue]="null">Chọn bàn
                                                (nếu có)</option>
                                            <option *ngFor="let table of tables"
                                                [ngValue]="table.id">Bàn số {{
                                                table.tableNumber }}</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <h6>Thêm món ăn</h6>
                                        <div class="row mb-2"
                                            *ngFor="let item of newOrder.items; let i = index">
                                            <div class="col-5">
                                                <select class="form-select"
                                                    [(ngModel)]="item.itemId"
                                                    [name]="'itemId' + i">
                                                    <option
                                                        [ngValue]="null">Chọn
                                                        món</option>
                                                    <option
                                                        *ngFor="let menuItem of menuItems"
                                                        [ngValue]="menuItem.id">{{
                                                        menuItem.itemName
                                                        }}</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <input type="number"
                                                    class="form-control"
                                                    [(ngModel)]="item.quantity"
                                                    [name]="'quantity' + i"
                                                    placeholder="Số lượng"
                                                    min="1">
                                            </div>
                                            <div class="col-3">
                                                <button type="button"
                                                    class="btn btn-danger"
                                                    (click)="removeItem(i)">Xóa</button>
                                            </div>
                                        </div>
                                        <button type="button"
                                            class="btn btn-secondary"
                                            (click)="addItem()">Thêm
                                            món</button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">Hủy</button>
                                        <button type="submit"
                                            class="btn btn-primary"
                                            [disabled]="!orderForm.valid">Tạo
                                            đơn hàng</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table
                        class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Khách hàng</th>
                                <th scope="col">Tài khoản</th>
                                <th scope="col">Loại đơn hàng</th>
                                <th scope="col">Bàn số</th>
                                <th scope="col">Loại bàn</th>
                                <th scope="col">Ngày đặt bàn</th>
                                <th scope="col">Ngày nhận bàn</th>
                                <th scope="col">Danh sách món ăn</th>
                                <th scope="col">Tiền cọc</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Xuất hóa đơn</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let l of listDangKy;index as i">
                                <td>{{i+1}}</td>
                                <td>{{l.user ? l.user.fullname : ''}}</td>
                                <td>{{l.user ? l.user.username: ''}}</td>
                                <td>{{l.orderType == 1 ? "Mang đi" :
                                    "Ăn tại chỗ"}}</td>
                                <td>{{l.table ? (l.table.tableNumber) :
                                    ''}}</td>

                                <td>{{ l.table ? (l.table.type === 0 ?
                                    'Bàn thường' : 'Bàn VIP') : '' }}</td>
                                <td>{{l.ngayTao | date:
                                    'dd-MM-yyyy HH:mm'
                                    }}</td>
                                <td>{{l.reservationTime | date:
                                    'dd-MM-yyyy HH:mm'
                                    }}</td>
                                <td>
                                    <button class="btn btn-sm btn-info"
                                        data-bs-target="#detailModal"
                                        data-bs-toggle="modal"
                                        (click)="openDetailModal(l)">Chi
                                        tiết</button></td>
                                <td>{{ l.depositFee | number }}đ</td>
                                <td>{{ l.totalAmount | number }}đ</td>
                                <td>

                                    <span *ngIf="l.status ==0">Chưa xử lý</span>
                                    <span *ngIf="l.status ==1">Đã cọc</span>
                                    <span *ngIf="l.status ==2">Đã nhận
                                        bàn</span>
                                    <span *ngIf="l.status ==3">Đã hủy bỏ</span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-info"
                                        (click)="exportBill(l)">Tại
                                        đây</button></td>
                                <td>
                                    <!-- <div *ngIf="l.status == 0"><a
                                            class="btn btn-sm btn-primary"
                                            (click)="updateRegistration(l.id,0)">Chưa xử lý</a></div> -->
                                    <div *ngIf="l.status == 0"><a
                                            class="btn btn-sm btn-light "
                                            (click)="updateRegistration(l.id,1)">Đã
                                            cọc</a></div>
                                    <div *ngIf="l.status == 0"><a
                                            class="btn btn-sm btn-light "
                                            (click)="updateRegistration(l.id,2)">Đã
                                            nhận bàn</a></div>
                                    <div *ngIf="l.status == 0"><a
                                            class="btn btn-sm btn-light "
                                            (click)="updateRegistration(l.id,3)">
                                            Hủy bỏ</a></div>
                                    <div *ngIf="l.status != 0"><a
                                            class="btn btn-sm btn-light "
                                            (click)="updateRegistration(l.id,0)">Hoàn
                                            tác</a></div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="detailModal" tabindex="-1"
                        aria-labelledby="detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <span aria-hidden="true">&times;</span>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="detailModalLabel">Chi tiết đơn đặt
                                        bàn</h5>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Khách hàng:</strong> {{
                                        selectedReservation?.user ?
                                        selectedReservation?.user.fullname : ''
                                        }}</p>
                                    <p><strong>Tài khoản:</strong> {{
                                        selectedReservation?.user ?
                                        selectedReservation?.user.username: ''
                                        }}</p>
                                    <p><strong>Bàn số:</strong> {{
                                        selectedReservation?.table ?
                                        selectedReservation?.table?.tableNumber:
                                        ''
                                        }}</p>

                                    <h6>Danh sách món ăn:</h6>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên món</th>
                                                <th>Hình ảnh</th>
                                                <th>Số lượng</th>
                                                <th>Giá</th>
                                                <th>Tổng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let item of selectedReservation?.items">
                                                <td>{{ item.item.itemName
                                                    }}</td>
                                                <td><img style="width: 100%;"
                                                        [src]="item.item.img"
                                                        alt></td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.item.cost | number
                                                    }}đ</td>
                                                <td>{{ item.totalPrice | number
                                                    }}đ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- Recent Sales End -->
        <!-- Widgets End -->

        <!-- Footer Start -->
        <app-footer-admin></app-footer-admin>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
            class="bi bi-arrow-up"></i></a>
</div>